<ion-content class="login-container">
  <div class="login-header">
    <h1>Sistema de Notas Seguras</h1>
    <p>Ingresa a tu cuenta para continuar</p>
  </div>

  <div class="login-form">
    <div class="form-title">Inicio de Sesión</div>

    <!-- Formulario de login -->
    <ion-item class="form-item">
      <ion-label position="stacked">Correo o Usuario</ion-label>
      <ion-input
        [(ngModel)]="email"
        placeholder="Ingresa tu usuario"
        type="text"
      >
      </ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input
        [(ngModel)]="password"
        placeholder="Ingresa tu contraseña"
        type="password"
      >
      </ion-input>
    </ion-item>

    <ion-button expand="block" (click)="login()" class="login-button">
      <ion-icon name="lock-open" slot="start"></ion-icon>
      Iniciar Sesión
    </ion-button>

    <!-- Botón de Registrarse -->
    <ion-button
      expand="block"
      (click)="irARegistro()"
      fill="outline"
      class="register-button"
    >
      <ion-icon name="person-add" slot="start"></ion-icon>
      Registrarse
    </ion-button>

    <div class="separator">
      <span>O ingresa rápidamente</span>
    </div>

   
  </div>
</ion-content>
